body {
    background-color: white;
    margin: 25px 150px 75px
}

h1 {
    display: inline;
}

.date {
    color: grey;
    style: italic;
}

.title-post {
    margin: 2px;
}

.page-ref {
    margin-left: 2px;
    margin-right: 2px;
}

.pages {
    margin: 10px;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
}
