{% extends "base.html" %}
{% block title %} Главная {% endblock %}

{% block post_title %} {{ title | safe }} {% endblock %}

{% block content %}

<div class="date">Дата написания статьи: {{ date }} </div>
<div class="author">Автор: <a href="{{ author[0] }}"> {{ author[1] }} </a></div>

{{ body | markdown }}

{% for at in att %}
<p>
  <img width="800" src="{{ at.url }}" alt>
</p>
{% endfor %}

Теги:
<ul>
{% for tag in tags %}
<li><a href="/tag/{{ tag.name }}">{{ tag.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}
